h1{
    text-align: center;
}
form{
    width: 50%;
    margin: auto;
    font-size: 16px;
    background-color: rgba(152, 163, 152, 0.8);
    /* border: 2px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
legend{
    font-weight: bold;
}
body{
    background-image: url("kepek/alma.jpg");
}
fieldset{
    border: 2px  solid rgb(92, 3, 3) ;
    border-radius: 15px;
}

.textareaDiv{
    width: 60%;
    margin: auto;
}

textarea{
    width: 100%;
}

#csuszka{
    width: 100%;
}
fieldset img {
    width: 100%;
}
#imgfieldset{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    
}