

nav{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    border-radius: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    width: 33%;
    text-align: center;
}

nav a:hover{
    background-color: black;
    border-radius: 30px;
    letter-spacing: 1px;
    text-shadow: 5px 5px 7px black;
    transition: background-color 0.7s, text-shadow 1s, letter-spacing 1s;
}
.forgas{
    position:relative;
    margin: auto;
    margin-top: 100px;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50px;
    
}
.forgas a{
    color:white;
    text-decoration:none;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 40px;
    


}
.forgas:hover{
    transform: rotate(-10000deg);
    letter-spacing: 3px;
    transition:transform  10s, letter-spacing 3s;
}
nav a{
    position: relative;
}
nav a::before{
    content: "";
    height: 2px;
    width: calc(100% - 2em);
    position: absolute;
    background-color: darkred;
    font-size: 0.5em;
    bottom: 1em;
    left: 1em;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
    
}
nav a:hover::before{
    transform: scaleX(1);
    transform-origin: left;

}
nav a::after{
    content: " Szöveget tesz mögé";
    font-size: 0.5em;
}
ul li:nth-child(odd){
    background-color: rgba(36, 33, 33, 0.521);
    color: rgba(255, 255, 255, 0.753);
}
ul li{
    background-color: rgba(71, 79, 82, 0.589);
    color: rgba(255, 255, 255, 0.753);
    padding:5px ;
}
ul{
    margin-top: 100px;
}



