body{
    text-align: center;
    background-image: url(kepek/alma.jpg);
    background-attachment: fixed;
    background-size:cover ;
    

}
h1 {
    color:white;
    text-shadow: 5px 5px 5px black;
}

div {
    border:3px solid rgb(175, 175, 175);
    padding: 30px;
    margin:auto;
    width:50%;
    border-radius: 30px;
}
fieldset{
    border:3px dotted rgb(175, 175, 175);
}
p {
    font-size: 20px; 
    color: white;
    
}
legend{
    color:white;
    font-size: larger;
    font-weight: bold;
}
.textarea{
    margin: auto;  
    width: 60%;
}
textarea{
    width: 100%;
}
#csuszka{
    width: 50%;
}