h1{
    text-align: center;
    text-shadow: 3px 3px 7px  darkslateblue, -3px -3px 5px rgb(13, 75, 75);

}
form{
    width: 50%;
    margin: auto;
    font-size: 16px;
    background-color: rgba(56, 4, 141, 0.171);
    /* border: 2px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
body{
    text-align: center;
}


legend{
    font-weight: bold;
}
body{
    background-color: rgba(156, 178, 201, 0.644);
}
fieldset{
    border: 2px  solid white ;
    border-radius: 15px;
}

.textareaDiv{
    width: 60%;
    margin: auto;
}

textarea{
    width: 100%;
}

#csuszka{
    width: 50%;
}